<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="main.css" rel="stylesheet">

</head>

<body class="about-page">

  <header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="view/index.html" class="logo d-flex align-items-center">
        <img src="assets/img/our logo.png"  alt="AgriCulture">
        <h1 class="sitename">smartfarm</h1> 
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="NOURservices.html" class="active">Our Services</a></li>
          <li><a href="AHMEDblog.html">blog</a></li>
          <li><a href="NASSIMlogin.html">login</a></li>
          <li><a href="AZIZreclamation.html">reclamations</a></li>
          <li><a href="SAMERpanier.html">panier</a></li>
          <li><a href="MAYSSOUNevents.html">events</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-item active">
          <img src="assets/img/hero_1.jpg" alt="">
          <div class="carousel-container">
            <h2>Quality Farm Products Delivered</h2>
            <h1>Fresh from Our Fields to Your Door</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/hero_2.jpg" alt="">
          <div class="carousel-container">
            <h2>Organic vegetables is good for health</h2>
            <p>We provide the freshest and highest-quality farm products directly to you ! </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/hero_3.jpg" alt="">
          <div class="carousel-container">
            <h2>Providing Fresh Produce</h2>
            <p> every single day </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/hero_4.jpg" alt="">
          <div class="carousel-container">
            <h2>Farming as a Passion</h2>
            <p>it's more than just a job</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/hero_5.jpg" alt="">
          <div class="carousel-container">
            <h2>Good Food </h2>
            <p>for all.</p>
          </div>
        </div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </section><!-- /Hero Section -->

    <!-- About 3 Section -->
    <section id="about-3" class="about-3 section">
      <div class="container">
        <div class="row gy-4 justify-content-between align-items-center">
          <div class="col-lg-6 order-lg-2 position-relative" data-aos="zoom-out">
            <img src="assets/img/img_sq_1.jpg" alt="Image" class="img-fluid">
              <span class="play"><i class="bi bi-play-fill"></i></span>
            </a>
          </div>
          <div class="col-lg-5 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h2 class="content-title mb-4">join us now</h2>
            <p class="mb-4">
              Whether you are a farmer or a customer
            </p>
            <ul class="list-unstyled list-check">
              <li>make an account</li>
              <li>start shopping or selling </li>
              <li>sign up ! </li>
            </ul>

            <div class="d-flex">
              <p><a href="#" class="btn-cta">seller</a></p>
              <p><a href="#" class="btn-cta ms-3">customer</a></p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /About 3 Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/our logo.png" alt="Agrivatorslogo">
             <h1 class="sitename">smartfarm</h1> <span class="sitename">
            </a>
            <div class="footer-contact pt-3">
              <p>tunisia , esprit</p>
              <p class="mt-3"><strong>Phone:</strong> <span>53 *** *** </span></p>
              <p><strong>Email:</strong> <span>agri.vators@example.com</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Main JS File -->
  <script src="main.js"></script>

</body>

</html>
